body {
    text-align: center;
}

.boom {
    background-color: rgb(255, 148, 49);
    cursor: pointer;
}

button {
    cursor: pointer;
}

.hidden {
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}

.mine-field td {
    width: 40px;
    height:40px;
    text-align: center;
    font-size:1.4em;
}

.shown {
    background-color: rgb(209, 209, 209);
}

.smiley {
    font-size: xxx-large;
    margin-top: 20px;
    cursor: pointer;
}

.table {
    /* border: 1px solid black; */
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}